RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]


# RewriteCond %{REQUEST_FILENAME}\.php -f
# RewriteRule ^/?(.*)$ /$1.php [L]
# RewriteRule ^(.*)/$ $1
# RewriteRule ^([^\.]+)$ $1.php [L,QSA]
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^([^.]+)$ $1.php [NC,L]



# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.*)$ /404.php [L]

#hide index.php - without extention
#RewriteEngine On
#RewriteCond %{THE_REQUEST} ^.*/index\.*
#RewriteRule ^(.*)index.php$ /$1 [R=301,L]
